.btn-huge {
    padding-top:25px;
    padding-bottom:25px;
    font-size: 25px !important;
    font-weight: 800 !important;
}

.btn-default { 
    background-color: #ffe81f; 
    color:#000; 
    border-color: #fff; 
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default { 
    background-color: #fded63; 
    color:#c2ae00; 
    border-color: #c2ae00; 
}