<div class="well"> 
    <!-- TEXTBOX FOR NEW POST -->
    <timeline-mypost (createPostRequest)="createPost($event)" (uploadPhotosRequest)="uploadPhotos($event)" *ngIf="isAuthenticated"></timeline-mypost>

    <!-- POSTS -->
        
    <timeline-post *ngFor="let post of posts | async" [post]="post" [user]="user" (removePostId)="removePost($event)"></timeline-post>

    <div *ngIf="(posts | async)?.length==0"class="alert alert-info">
        <strong>Sorry!</strong> No Record Found.
    </div>

    <div 
        class="timeline-posts" 
        infiniteScroll 
        [infiniteScrollDistance]="2" 
        infiniteScrollThrottle="50" 
        (scrolled)="onScroll()"
    ></div>    
</div>