
<div class="message-item" id="m9">
    <div class="message-inner">
        <div class="pull-right">
            <div *ngIf="post.author.id == user.id" class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="{{ post.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">                  
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" attr.aria-labelledby="{{ post.id }}">
                  <li><a (click)="onPostRemove(post.id)">Remove</a></li>
                </ul>
            </div>
        </div>
        <div class="message-head clearfix">
            <div class="avatar pull-left"><a [routerLink]="['/','profile', post.author.id, 'posts']">
                <img class="profile-img" src="{{ post.author.profile_picture }}"></a>
            </div>
            <div class="user-detail">
                <h5 class="handle">{{ post.title }}</h5>
                <div class="post-meta">
                    <div class="asker-meta">
                        <span class="qa-message-what"></span>
                        <span class="qa-message-when">
                            <span class="qa-message-when-data">{{ post.created_at }}</span>
                        </span>
                        <span class="qa-message-who">
                            <span class="qa-message-who-pad">by </span>
                            <span class="qa-message-who-data"><a [routerLink]="['/','profile', post.author.id, 'posts']">{{ post.author.name }}</a></span>
                        </span>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="qa-message-content">            
            <timeline-post-item [items]="post.items"></timeline-post-item>
        </div>     
        
    </div>
</div>

