<div class="profile-sidebar">

	<input type="file" #uploader (change)="onChangePhoto($event.target.files)" style="display:none"/>
	<a (click)="uploader.click()" class="profile-pic">
		<div class="profile-pic" [ngStyle]="{'background-image': getProfilePhotoUrl()}" >
			<span class="glyphicon glyphicon-camera"></span>
			<span>Change Image</span>
		</div>
	  </a>
	
	<div class="profile-usertitle">
		<div class="profile-usertitle-name">
			{{ user.name }}
		</div>
		<div class="profile-usertitle-job">
			Developer
		</div>
	</div>
	
	<div class="profile-userbuttons">
		<button type="button" class="btn btn-success btn-sm">Follow</button>
		<button type="button" class="btn btn-danger btn-sm">Message</button>
	</div>
	
	<div class="profile-usermenu">
		<ul class="nav">
			<li class="active">
				<a href="#">
				<i class="glyphicon glyphicon-home"></i>
				Overview </a>
			</li>
			<li>
				<a href="#">
				<i class="glyphicon glyphicon-user"></i>
				Account Settings </a>
			</li>
			<li>
				<a href="#" target="_blank">
				<i class="glyphicon glyphicon-ok"></i>
				Tasks </a>
			</li>
			<li>
				<a href="#">
				<i class="glyphicon glyphicon-flag"></i>
				Help </a>
			</li>
		</ul>
	</div>	
</div>