<div class="row header">	
	<div class="col-md-3">			
		<div class="circle">			
			<img *ngIf="user!=null" class="profile-pic" src="{{ basePath+user.profile_picture }}">			
		</div>		
	</div>

	<div class="col-md-9">			
		<div *ngIf="user!=null" class="profile-head">
			<h3> {{ user.name }}</h3>
			<h5 *ngIf="user.profession!=null"> {{ user.profession }}</h5>
		</div>	
		<div *ngIf="authUser!=null && authUser.id == user.id" class="row clearfix">
			<div class="col-md-12">
				<a routerLink="/update-profile" class="btn btn-primary" role="button">Edit Profile</a>
			</div>
		</div>		
	</div>
</div>